# ðŸš€ `Web Scrappin`

En este notebook se realiza Web Scrappin de wikipedia para obtener un estimado de valores de poblacion en 2021, que es el Ãºltimo aÃ±o de nuestra base de datos original.

#### ðŸ“¥Importaciones

In [36]:
import pandas as pd
from bs4 import BeautifulSoup 
import requests

#### ðŸ“¦ ExtracciÃ³n de los datos y primera exploraciÃ³n

Se lee la pÃ¡gina de Wikipedia y se muestra la primer tabla.

In [37]:
direc_scrappin='https://es.wikipedia.org/wiki/Anexo:Comunas_de_la_ciudad_de_Buenos_Aires_por_poblaci%C3%B3n'
request=requests.get(direc_scrappin)
soup=BeautifulSoup(request.text, 'html.parser')
paginas=pd.read_html(direc_scrappin)
paginas[0]

   EvoluciÃ³n demogrÃ¡fica e histÃ³rica de los habitantes de las Comunas de la Ciudad AutÃ³noma de Buenos Aires (CABA)[1]â€‹  \
                                                                                                         Puesto (2022)
0                                                  1Â°
1                                                  2Â°
2                                                  3Â°
3                                                  4Â°
4                                                  5Â°
5                                                  6Â°
6                                                  7Â°
7                                                  8Â°
8                                                  9Â°
9                                                 10Â°
10                                                11Â°
11                                                12Â°
12                                                13Â°
13                                                14Â°
14                                                15Â°
15                                              TOTAL

                                                           \
       Comuna CENSO 1991 CENSO 2001 CENSO 2010 CENSO 2022
0   Comuna 13    250Â 224    228Â 226    231Â 331    265Â 199
1   Comuna 14    256Â 927    225Â 245    225Â 970    249Â 016
2   Comuna 12    198Â 185    191Â 122    200Â 116    236Â 294
3    Comuna 4    215Â 223    215Â 046    218Â 245    230Â 945
4    Comuna 1    200Â 689    171Â 985    205Â 886    223Â 282
5    Comuna 7    198Â 489    197Â 333    220Â 591    216Â 832
6    Comuna 8    151Â 078    161Â 642    187Â 237    204Â 842
7    Comuna 6    183Â 740    170Â 309    176Â 076    203Â 784
8   Comuna 11    199Â 049    189Â 666    189Â 832    203Â 491
9   Comuna 15    195Â 346    183Â 110    182Â 574    197Â 903
10   Comuna 3    200Â 275    184Â 015    187Â 537    195Â 462
11   Comuna 5    188Â 342    173Â 769    179Â 005    193Â 859
12  Comuna 10    167Â 671    163Â 209    166Â 022    171Â 797
13   Comuna 9    161Â 518    155Â 967    161Â 797    169Â 538
14   Comuna 2    198Â 647    165Â 494    157Â 932    158Â 368
15       CABA  2Â 965Â 403  2Â 776Â 138  2Â 890Â 151  3Â 120Â 612


   Crecimiento 2010-2022 Unnamed: 7_level_1
0              + 14,64Â %                NaN
1              + 10,19Â %                NaN
2              + 18,07Â %                NaN
3               + 5,81Â %                NaN
4               + 8,44Â %                NaN
5               - 1,70Â %                NaN
6               + 9,40Â %                NaN
7              + 15,73Â %                NaN
8               + 7,19Â %                NaN
9               + 8,39Â %                NaN
10              + 4,22Â %                NaN
11              + 8,29Â %                NaN
12              + 3,47Â %                NaN
13              + 4,78Â %                NaN
14              + 0,27Â %                NaN
15              + 7,97Â %                NaN

Se guarda la pÃ¡gina como dataframe para utilizar luego en nuestro KPI solicitado.

In [38]:
paginas[0].to_csv("Datasets/Archivos_PBI/dataset_poblacion.csv", index=False)

Se abre el dataset.

In [39]:
df = pd.read_csv('Datasets/Archivos_PBI/dataset_poblacion.csv')
df

,EvoluciÃ³n demogrÃ¡fica e histÃ³rica de los habitantes de las Comunas de la Ciudad AutÃ³noma de Buenos Aires (CABA)[1]â€‹,EvoluciÃ³n demogrÃ¡fica e histÃ³rica de los habitantes de las Comunas de la Ciudad AutÃ³noma de Buenos Aires (CABA)[1]â€‹.1,EvoluciÃ³n demogrÃ¡fica e histÃ³rica de los habitantes de las Comunas de la Ciudad AutÃ³noma de Buenos Aires (CABA)[1]â€‹.2,EvoluciÃ³n demogrÃ¡fica e histÃ³rica de los habitantes de las Comunas de la Ciudad AutÃ³noma de Buenos Aires (CABA)[1]â€‹.3,EvoluciÃ³n demogrÃ¡fica e histÃ³rica de los habitantes de las Comunas de la Ciudad AutÃ³noma de Buenos Aires (CABA)[1]â€‹.4,EvoluciÃ³n demogrÃ¡fica e histÃ³rica de los habitantes de las Comunas de la Ciudad AutÃ³noma de Buenos Aires (CABA)[1]â€‹.5,EvoluciÃ³n demogrÃ¡fica e histÃ³rica de los habitantes de las Comunas de la Ciudad AutÃ³noma de Buenos Aires (CABA)[1]â€‹.6,EvoluciÃ³n demogrÃ¡fica e histÃ³rica de los habitantes de las Comunas de la Ciudad AutÃ³noma de Buenos Aires (CABA)[1]â€‹.7
0,Puesto (2022),Comuna,CENSO 1991,CENSO 2001,CENSO 2010,CENSO 2022,Crecimiento 2010-2022,Unnamed: 7_level_1
1,1Â°,Comuna 13,250Â 224,228Â 226,231Â 331,265Â 199,"+ 14,64Â %",NaN
2,2Â°,Comuna 14,256Â 927,225Â 245,225Â 970,249Â 016,"+ 10,19Â %",NaN
3,3Â°,Comuna 12,198Â 185,191Â 122,200Â 116,236Â 294,"+ 18,07Â %",NaN
4,4Â°,Comuna 4,215Â 223,215Â 046,218Â 245,230Â 945,"+ 5,81Â %",NaN
5,5Â°,Comuna 1,200Â 689,171Â 985,205Â 886,223Â 282,"+ 8,44Â %",NaN
6,6Â°,Comuna 7,198Â 489,197Â 333,220Â 591,216Â 832,"- 1,70Â %",NaN
7,7Â°,Comuna 8,151Â 078,161Â 642,187Â 237,204Â 842,"+ 9,40Â %",NaN
8,8Â°,Comuna 6,183Â 740,170Â 309,176Â 076,203Â 784,"+ 15,73Â %",NaN
9,9Â°,Comuna 11,199Â 049,189Â 666,189Â 832,203Â 491,"+ 7,19Â %",NaN
10,10Â°,Comuna 15,195Â 346,183Â 110,182Â 574,197Â 903,"+ 8,39Â %",NaN
11,11Â°,Comuna 3,200Â 275,184Â 015,187Â 537,195Â 462,"+ 4,22Â %",NaN
12,12Â°,Comuna 5,188Â 342,173Â 769,179Â 005,193Â 859,"+ 8,29Â %",NaN
13,13Â°,Comuna 10,167Â 671,163Â 209,166Â 022,171Â 797,"+ 3,47Â %",NaN
14,14Â°,Comuna 9,161Â 518,155Â 967,161Â 797,169Â 538,"+ 4,78Â %",NaN
15,15Â°,Comuna 2,198Â 647,165Â 494,157Â 932,158Â 368,"+ 0,27Â %",NaN
16,TOTAL,CABA,2Â 965Â 403,2Â 776Â 138,2Â 890Â 151,3Â 120Â 612,"+ 7,97Â %",NaN

Se limpian y renombran las columnas del DataFrame.

In [40]:
def clean_data(df):
    # Drop column: 'EvoluciÃ³n demogrÃ¡fica e histÃ³rica de los habitantes de las Comunas de la Ciudad AutÃ³noma de Buenos Aires (CABA)[1]â€‹.7'
    df = df.drop(columns=['EvoluciÃ³n demogrÃ¡fica e histÃ³rica de los habitantes de las Comunas de la Ciudad AutÃ³noma de Buenos Aires (CABA)[1]\u200b.7'])
    # Rename column 'EvoluciÃ³n demogrÃ¡fica e histÃ³rica de los habitantes de las Comunas de la Ciudad AutÃ³noma de Buenos Aires (CABA)[1]\u200b' to 'puesto (2022)'
    df = df.rename(columns={'EvoluciÃ³n demogrÃ¡fica e histÃ³rica de los habitantes de las Comunas de la Ciudad AutÃ³noma de Buenos Aires (CABA)[1]\u200b': 'puesto (2022)'})
    # Rename column 'EvoluciÃ³n demogrÃ¡fica e histÃ³rica de los habitantes de las Comunas de la Ciudad AutÃ³noma de Buenos Aires (CABA)[1]\u200b.1' to 'Comuna'
    df = df.rename(columns={'EvoluciÃ³n demogrÃ¡fica e histÃ³rica de los habitantes de las Comunas de la Ciudad AutÃ³noma de Buenos Aires (CABA)[1]\u200b.1': 'Comuna'})
    # Rename column 'EvoluciÃ³n demogrÃ¡fica e histÃ³rica de los habitantes de las Comunas de la Ciudad AutÃ³noma de Buenos Aires (CABA)[1]\u200b.2' to 'CENSO 1991'
    df = df.rename(columns={'EvoluciÃ³n demogrÃ¡fica e histÃ³rica de los habitantes de las Comunas de la Ciudad AutÃ³noma de Buenos Aires (CABA)[1]\u200b.2': 'CENSO 1991'})
    # Rename column 'EvoluciÃ³n demogrÃ¡fica e histÃ³rica de los habitantes de las Comunas de la Ciudad AutÃ³noma de Buenos Aires (CABA)[1]\u200b.3' to 'CENSO 2001'
    df = df.rename(columns={'EvoluciÃ³n demogrÃ¡fica e histÃ³rica de los habitantes de las Comunas de la Ciudad AutÃ³noma de Buenos Aires (CABA)[1]\u200b.3': 'CENSO 2001'})
    # Rename column 'EvoluciÃ³n demogrÃ¡fica e histÃ³rica de los habitantes de las Comunas de la Ciudad AutÃ³noma de Buenos Aires (CABA)[1]\u200b.4' to 'CENSO 2010'
    df = df.rename(columns={'EvoluciÃ³n demogrÃ¡fica e histÃ³rica de los habitantes de las Comunas de la Ciudad AutÃ³noma de Buenos Aires (CABA)[1]\u200b.4': 'CENSO 2010'})
    # Rename column 'EvoluciÃ³n demogrÃ¡fica e histÃ³rica de los habitantes de las Comunas de la Ciudad AutÃ³noma de Buenos Aires (CABA)[1]\u200b.5' to 'CENSO 2022'
    df = df.rename(columns={'EvoluciÃ³n demogrÃ¡fica e histÃ³rica de los habitantes de las Comunas de la Ciudad AutÃ³noma de Buenos Aires (CABA)[1]\u200b.5': 'CENSO 2022'})
    # Rename column 'EvoluciÃ³n demogrÃ¡fica e histÃ³rica de los habitantes de las Comunas de la Ciudad AutÃ³noma de Buenos Aires (CABA)[1]\u200b.6' to 'CRECIMIENTO 2010-2022'
    df = df.rename(columns={'EvoluciÃ³n demogrÃ¡fica e histÃ³rica de los habitantes de las Comunas de la Ciudad AutÃ³noma de Buenos Aires (CABA)[1]\u200b.6': 'CRECIMIENTO 2010-2022'})
    # Drop column: 'CENSO 2001'
    df = df.drop(columns=['CENSO 2001'])
    # Drop column: 'CENSO 1991'
    df = df.drop(columns=['CENSO 1991'])
    return df

df = clean_data(df.copy())
df.head()

   puesto (2022)     Comuna  CENSO 2010  CENSO 2022  CRECIMIENTO 2010-2022
0  Puesto (2022)     Comuna  CENSO 2010  CENSO 2022  Crecimiento 2010-2022
1             1Â°  Comuna 13     231Â 331     265Â 199              + 14,64Â %
2             2Â°  Comuna 14     225Â 970     249Â 016              + 10,19Â %
3             3Â°  Comuna 12     200Â 116     236Â 294              + 18,07Â %
4             4Â°   Comuna 4     218Â 245     230Â 945               + 5,81Â %

Se calcula la tasa de crecimiento anual para poder tener datos de 2021 sobre el indice de crecimiento y poblacion total segun el censo realizado en 2022.

In [41]:
# Se elimina la primer fila que contiene el titulo de las columnas.
df = df.drop(df.index[0])

# Se convierte la columna 'CENSO 2022' a float.
df['CENSO 2022'] = df['CENSO 2022'].str.replace('\xa0', '').astype(float)

# Poblacion total de 2022.
censo_2022 = 3120612

# Tasa de crecimiento total entre 2010 y 2022.
tasa_crecimiento_total = 7.97 / 100

# Se calcula la tasa de crecimiento anual.
tasa_crecimiento_anual = (1 + tasa_crecimiento_total) ** (1 / 12) - 1

# Se crea una nueva columna con los valores estimados para 2021.
df['CENSO 2021'] = df['CENSO 2022'] / (1 + tasa_crecimiento_anual)

In [42]:
df

,puesto (2022),Comuna,CENSO 2010,CENSO 2022,CRECIMIENTO 2010-2022,CENSO 2021
1,1Â°,Comuna 13,231Â 331,265199.0,"+ 14,64Â %",2.635097e+05
2,2Â°,Comuna 14,225Â 970,249016.0,"+ 10,19Â %",2.474298e+05
3,3Â°,Comuna 12,200Â 116,236294.0,"+ 18,07Â %",2.347888e+05
4,4Â°,Comuna 4,218Â 245,230945.0,"+ 5,81Â %",2.294739e+05
5,5Â°,Comuna 1,205Â 886,223282.0,"+ 8,44Â %",2.218597e+05
6,6Â°,Comuna 7,220Â 591,216832.0,"- 1,70Â %",2.154508e+05
7,7Â°,Comuna 8,187Â 237,204842.0,"+ 9,40Â %",2.035372e+05
8,8Â°,Comuna 6,176Â 076,203784.0,"+ 15,73Â %",2.024859e+05
9,9Â°,Comuna 11,189Â 832,203491.0,"+ 7,19Â %",2.021948e+05
10,10Â°,Comuna 15,182Â 574,197903.0,"+ 8,39Â %",1.966424e+05
11,11Â°,Comuna 3,187Â 537,195462.0,"+ 4,22Â %",1.942169e+05
12,12Â°,Comuna 5,179Â 005,193859.0,"+ 8,29Â %",1.926241e+05
13,13Â°,Comuna 10,166Â 022,171797.0,"+ 3,47Â %",1.707027e+05
14,14Â°,Comuna 9,161Â 797,169538.0,"+ 4,78Â %",1.684581e+05
15,15Â°,Comuna 2,157Â 932,158368.0,"+ 0,27Â %",1.573592e+05
16,TOTAL,CABA,2Â 890Â 151,3120612.0,"+ 7,97Â %",3.100734e+06

Se cambia el tipo de dato de la columna nueva "CENSO 2021".

In [43]:
def clean_data(df):
    # Change column type to int64 for column: 'CENSO 2021'
    df = df.astype({'CENSO 2021': 'int64'})
    return df

df = clean_data(df)
df

,puesto (2022),Comuna,CENSO 2010,CENSO 2022,CRECIMIENTO 2010-2022,CENSO 2021
1,1Â°,Comuna 13,231Â 331,265199.0,"+ 14,64Â %",263509
2,2Â°,Comuna 14,225Â 970,249016.0,"+ 10,19Â %",247429
3,3Â°,Comuna 12,200Â 116,236294.0,"+ 18,07Â %",234788
4,4Â°,Comuna 4,218Â 245,230945.0,"+ 5,81Â %",229473
5,5Â°,Comuna 1,205Â 886,223282.0,"+ 8,44Â %",221859
6,6Â°,Comuna 7,220Â 591,216832.0,"- 1,70Â %",215450
7,7Â°,Comuna 8,187Â 237,204842.0,"+ 9,40Â %",203537
8,8Â°,Comuna 6,176Â 076,203784.0,"+ 15,73Â %",202485
9,9Â°,Comuna 11,189Â 832,203491.0,"+ 7,19Â %",202194
10,10Â°,Comuna 15,182Â 574,197903.0,"+ 8,39Â %",196642
11,11Â°,Comuna 3,187Â 537,195462.0,"+ 4,22Â %",194216
12,12Â°,Comuna 5,179Â 005,193859.0,"+ 8,29Â %",192624
13,13Â°,Comuna 10,166Â 022,171797.0,"+ 3,47Â %",170702
14,14Â°,Comuna 9,161Â 797,169538.0,"+ 4,78Â %",168458
15,15Â°,Comuna 2,157Â 932,158368.0,"+ 0,27Â %",157359
16,TOTAL,CABA,2Â 890Â 151,3120612.0,"+ 7,97Â %",3100734

In [44]:
df['CENSO 2010'].info

<bound method Series.info of 1       231Â 331
2       225Â 970
3       200Â 116
4       218Â 245
5       205Â 886
6       220Â 591
7       187Â 237
8       176Â 076
9       189Â 832
10      182Â 574
11      187Â 537
12      179Â 005
13      166Â 022
14      161Â 797
15      157Â 932
16    2Â 890Â 151
Name: CENSO 2010, dtype: object>

Se puede observar que ya tenemos el censo y poblacion de comunas de 2021, pero se necesitan los demas aÃ±os, para eso se realiza un calculo basado en la columna "CRECIMIENTO 2010-2022" el cual nos indica el indice en porcentajes de crecimiento que serÃ¡ el factor clave para el desarrollo del codigo.

In [45]:
# Datos de poblaciÃ³n de 2010 y tasas de crecimiento para nuestro calculo.
data = {
    'Comuna': ['Comuna 13', 'Comuna 14', 'Comuna 12', 'Comuna 4', 'Comuna 1', 'Comuna 7', 'Comuna 8', 'Comuna 6', 'Comuna 11', 'Comuna 15', 'Comuna 3', 'Comuna 5', 'Comuna 10', 'Comuna 9', 'Comuna 2'],
    'Poblacion 2010': [231331, 225970, 200116, 218245, 205886, 220591, 187237, 176076, 189832, 182574, 187537, 179005, 166022, 161797, 157932],
    'Crecimiento 2010-2022': [14.64, 10.19, 18.07, 5.81, 8.44, -1.70, 9.40, 15.73, 7.19, 8.39, 4.22, 8.29, 3.47, 4.78, 0.27]
}

df = pd.DataFrame(data)

# Se convierten las tasas de crecimiento en factores de crecimiento.
df['Factor de crecimiento'] = 1 + df['Crecimiento 2010-2022'] / 100

# Se calcula la poblaciÃ³n para cada aÃ±o.
for year in range(2016, 2022):
    n = year - 2010
    df[f'Poblacion {year}'] = df['Poblacion 2010'] * df['Factor de crecimiento']**(n/12)

df

,Comuna,Poblacion 2010,Crecimiento 2010-2022,Factor de crecimiento,Poblacion 2016,Poblacion 2017,Poblacion 2018,Poblacion 2019,Poblacion 2020,Poblacion 2021
0,Comuna 13,231331,14.64,1.1464,247686.264822,250522.424102,253391.059141,256292.541807,259227.248224,262195.558826
1,Comuna 14,225970,10.19,1.1019,237203.928356,239129.813827,241071.335779,243028.621166,245001.797975,246990.995229
2,Comuna 12,200116,18.07,1.1807,217446.086117,220476.966723,223550.093374,226666.054919,229825.448413,233028.879235
3,Comuna 4,218245,5.81,1.0581,224495.510321,225554.529496,226618.544413,227687.578638,228761.655849,229840.799836
4,Comuna 1,205886,8.44,1.0844,214398.415091,215850.982427,217313.391029,218785.707572,220267.999184,221760.333447
5,Comuna 7,220591,-1.70,0.9830,218707.939187,218395.662249,218083.831189,217772.445369,217461.504154,217151.006909
6,Comuna 8,187237,9.40,1.0940,195839.519558,197311.218479,198793.976954,200287.878093,201793.005632,203309.443935
7,Comuna 6,176076,15.73,1.1573,189418.825818,191738.931523,194087.455157,196464.744796,198871.152783,201307.035776
8,Comuna 11,189832,7.19,1.0719,196538.011991,197678.489874,198825.585764,199979.338063,201139.785398,202306.966618
9,Comuna 15,182574,8.39,1.0839,190078.737500,191359.182404,192648.252886,193946.007054,195252.503402,196567.800821
10,Comuna 3,187537,4.22,1.0422,191453.142314,192113.737538,192776.612098,193441.773859,194109.230712,194778.990577
11,Comuna 5,179005,8.29,1.0829,186277.044528,187517.455650,188766.126618,190023.112434,191288.468466,192562.250452
12,Comuna 10,166022,3.47,1.0347,168877.917886,169358.657853,169840.766329,170324.247209,170809.104400,171295.341821
13,Comuna 9,161797,4.78,1.0478,165618.810759,166264.498990,166912.704528,167563.437187,168216.706818,168872.523312
14,Comuna 2,157932,0.27,1.0027,158145.064478,158180.603160,158216.149828,158251.704485,158287.267131,158322.837769

Se cambia el tipo de datos de las columnas especÃ­ficas a int64.

In [46]:
def clean_data(df):
    # Cambiamos el tipo de la columna poblacion 2016 y los demas aÃ±os
    df = df.astype({'Poblacion 2016': 'int64'})
    df = df.astype({'Poblacion 2017': 'int64', 'Poblacion 2018': 'int64', 'Poblacion 2019': 'int64'})
    df = df.astype({'Poblacion 2020': 'int64'})
    df = df.astype({'Poblacion 2021': 'int64'})
    return df

df = clean_data(df.copy())
df.head()

,Comuna,Poblacion 2010,Crecimiento 2010-2022,Factor de crecimiento,Poblacion 2016,Poblacion 2017,Poblacion 2018,Poblacion 2019,Poblacion 2020,Poblacion 2021
0,Comuna 13,231331,14.64,1.1464,247686,250522,253391,256292,259227,262195
1,Comuna 14,225970,10.19,1.1019,237203,239129,241071,243028,245001,246990
2,Comuna 12,200116,18.07,1.1807,217446,220476,223550,226666,229825,233028
3,Comuna 4,218245,5.81,1.0581,224495,225554,226618,227687,228761,229840
4,Comuna 1,205886,8.44,1.0844,214398,215850,217313,218785,220267,221760

Se elimina la columna 'Factor de crecimiento'.

In [47]:
df = df.drop(columns=['Factor de crecimiento'])

Se elimina la palabra 'Comuna' de la columna 'Comuna'.

In [48]:
df['Comuna'] = df['Comuna'].str.replace('Comuna', '')
df.head()

,Comuna,Poblacion 2010,Crecimiento 2010-2022,Poblacion 2016,Poblacion 2017,Poblacion 2018,Poblacion 2019,Poblacion 2020,Poblacion 2021
0,13,231331,14.64,247686,250522,253391,256292,259227,262195
1,14,225970,10.19,237203,239129,241071,243028,245001,246990
2,12,200116,18.07,217446,220476,223550,226666,229825,233028
3,4,218245,5.81,224495,225554,226618,227687,228761,229840
4,1,205886,8.44,214398,215850,217313,218785,220267,221760

Se cambia el tipo de dato de la columna 'Comuna' a int64.

In [49]:
def clean_data(df):
    # Cambiamos el tipo de comuna
    df = df.astype({'Comuna': 'int64'})
    return df

df = clean_data(df.copy())
df.head()

,Comuna,Poblacion 2010,Crecimiento 2010-2022,Poblacion 2016,Poblacion 2017,Poblacion 2018,Poblacion 2019,Poblacion 2020,Poblacion 2021
0,13,231331,14.64,247686,250522,253391,256292,259227,262195
1,14,225970,10.19,237203,239129,241071,243028,245001,246990
2,12,200116,18.07,217446,220476,223550,226666,229825,233028
3,4,218245,5.81,224495,225554,226618,227687,228761,229840
4,1,205886,8.44,214398,215850,217313,218785,220267,221760

### ðŸ“¥ Carga del dataset

Se guarda el dataframe transformado como `poblacionCABA`.

In [50]:
archivo_limpio = 'Datasets/poblacionCABA.csv'
df.to_csv(archivo_limpio, index=False, encoding='utf-8')
print(f'Se guardÃ³ el archivo {archivo_limpio}')

Se guardÃ³ el archivo Datasets/poblacionCABA.csv